body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #6ea4f5c6, #f5f9ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    color: white;
}

.sec_header {
    border-radius: 20px;
    background: linear-gradient(90deg, #9830f3, #3c00b3 );
    margin: 0;
    margin: 0 0.5% 0 0.5%;
    padding: 3% 0 3% 0;
    text-align: center;

}

.sec_header h1 {
    text-align: center;
}

nav {
    background: linear-gradient(90deg, #0f2027, #2c5364);
    /* background-color: rgb(220, 110, 0); */
    padding: 20px 0px 20px 0px;
    display: flex;
    gap: 30px;
    justify-content: center;
    border-radius: 20px;
    margin: 2px 0.5% 2px 0.5%;
    text-align: center;
}
nav img {
    width: 11%;
}

nav a:hover {
    color: white;
}
nav a {
    color: white;
}

.home_link {
    background: transparent;
}
.home_link a {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    background: transparent;
    color: rgb(0, 75, 156);
}
.home_link a:visited {
    color: rgb(0, 75, 156);
}

.easter-egg {
    height: 35%;
    width: auto;
    position: absolute;
    right: 0;
    bottom: -25%;
    transform: translateX(70%);
    scale: 1;
    transition: right 2s, bottom 2s, scale 2s;
}
.easter-egg:hover {
    scale: 3;
    right: 8%;
    bottom: 25%;
}

footer {
    background: linear-gradient(360deg, #185868, #73e3fd);
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 670px) {
    nav {
        display: block;
        padding: 10px;
        background: linear-gradient(360deg, #0f2027, #2c5364);
    }

    nav a {
        display: block;
        width: 100%;
        margin: 8px;
        padding: 0;
    }

    .easter-egg {
        display: none;
    }
}

@media (max-width: 1330px) {
    .easter-egg {
        display: none;
    }
    #easter {
        display: none;
    }
}


