body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #6ea4f5c6, #f5f9ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    color: white;
}

.sec_header {
    border-radius: 20px;
    background:linear-gradient(90deg, #9830f3, #3c00b3 );
    margin: 0;
    margin: 0 0.5% 0 0.5%;
    padding: 3% 0 3% 0;

}

.sec_header h1 {
    margin: 0;
}


nav {
    background: linear-gradient(90deg, #0f2027, #2c5364);
    /* background-color: rgb(220, 110, 0); */
    padding: 20px 0px 20px 0px;
    display: flex;
    gap: 30px;
    justify-content: center;
    border-radius: 20px;
    margin: 2px 0.5% 2px 0.5%;
}
nav a:hover {
    color: white;
}
nav a {
    color: white;
}

h1 {
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    margin: 3% 4% 3% 4%;
}

.low-res{
    display: none;
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    margin: 3% 4% 3% 4%;
}
.high-res {
    display: block;
}

p {
    margin: 0 4% 0 4%;
    text-align: justify;
    overflow: auto;
    padding: 1%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
}


li {
    margin-left: 5%;
}

.kenntnisse {
    display: flex;
    justify-content: center;
    align-items: start;
}

.kenntnisse .code {
    max-width: 30%;
    margin-right: 3%;
    height: auto;
    display: block;
    margin-top: 4%;
    border-radius: 20px;
}

.daten {
    text-align: center;
}

form input, textarea, select {
    display: flex;
    padding: 1%;
    margin: auto;
}
.formular-div {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
#name, #email, #tel, textarea, select {
    margin-top: 2%;
}


button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0;
    background-color: #0f2027;
    height: 20%;
    scale: 1;
    color: white;
    font-weight: 700;
    border: 0cm;

    transition: background-color 0.3s, border-radius 0.2s, height 0.2s, scale 0.2s, color 0.3s;
}

button:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 7px;
    height: 22%;
    scale: 1.2;
    color: rgb(0, 0, 0);
}

.formular input:focus{
    border-color:#667eea;
    outline:none;
    transform:scale(1.05);
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

#inf {
    display: block;
}

.mein-foto {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.mein-foto img {
    width: 18%;
    border-radius: 15px;
}

.facts {
    margin-left: 4%;
}

.rs6 {
    display: flex;
    justify-content: center;
}
.rs6 img {
    border-radius: 15px;
    margin-top: 1%;
    transition: transform 0.3s;
    margin-bottom: 2%;
}
.rs6 img:hover {
    transform: rotate(5deg) scale(1.1);
}

details p {
    margin: 2% auto 1% auto;
    background-color: rgba(0,0,0,0.0);
}
details {
    margin-top: 1%;
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    margin-right: 4%;
}

details summary::before { 
    content: "➕ ";
    transition: transform 0.2s;
    display: inline-block;
    margin-right: 0.5%;
}
details[open] summary::before {
    content: "➖ ";
    transition: transform 0.2s;
}
summary {
    list-style: none;
    cursor: pointer;
}
details[open] summary:hover::before {
    transform: scale(1.5);
}
details summary:hover::before {
    transform: scale(1.5);
}



/* Media Queries */

@media (max-width: 670px) {
    nav {
        display: block;
        padding: 10px;
        text-align: center;
        background: linear-gradient(360deg, #0f2027, #2c5364);
    }

    nav a {
        display: block;
        width: 100%;
        margin: 8px;
        padding: 0;
    }

    .kenntnisse .code {
        display: none;
    }

    button {
        transition: none;
    }

    .high-res {
        display: none;
        text-align: center;
        padding: 1%;
        border-radius: 20px;
        background-color: rgba(0,0,0,0.2);
        margin: 3% 4% 3% 4%;
    }
    .low-res{
        display: block;
    }

    details summary::before {
        transition: none;
    }
    details[open] summary:hover::before {
    transform: scale(1);
    }
    details summary:hover::before {
    transform: scale(1);
    }
    details .rs6 img {
    width: 95%;
    height: auto
    }

    .mein-foto img {
        display: none;
    }

    #about-me {
        padding: 3%;
    }
}

@media (max-width: 1330px) {
    .rs6 img {
        transition: none;
    }
    .rs6 img:hover {
        transform: none;
    }
}


